.loginpage_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
}

.loginpage_grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginpage_center{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    gap: 20px;
}
.loginpage_image img{
    width: 100%;
    max-width: 400px;
    height: 500px;
}

.loginpage_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 250px;
    height: 450px;
}

.loginpage_logo{
    width: 180px;
    margin-bottom: 20px;
}

.loginpage_form input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
}

.login_btn {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.login_btn:hover{
    background-color: #007acc;
}

.loginpage_or{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.divider{
    flex-grow: 1;
    height: 1px;
    background: #dbdbdb;
    border: none;
}

.loginpage_or span {
    margin: 0 10px;
    color: gray;
    font-weight: bold;
}

.facebook_login{
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #385185;
    font-weight: bold;

}

.forget_password{
    color: #385185;
    font-size: 12px;
    margin-top:10px;

}

.signup-section{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.signup-section a{
    color: #0095f6;
    font-weight: bold;
}

.app_links{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.app_links img{
    height: 40px;
    margin: 0 5px;
}